<p>register works!</p>
<mat-card>
    <mat-card-content>
      <div class="header"> Register </div>
      <form [formGroup]="registerForm" name="registerForm">
        <div class="row">
          <div class="form-group col-4">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>First Name</mat-label>
              <input formControlName="firstname" matInput required />
              <mat-error *ngIf="registerForm.get('firstname').errors?.required">
                First Name is required.
              </mat-error>
            </mat-form-field>
          </div>
        
          <div class="form-group col-4">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input formControlName="middlename" matInput />
            </mat-form-field>
          </div>
        
          <div class="form-group col-4">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastname" matInput required />
              <mat-error *ngIf="registerForm.get('lastname').errors?.required">
                Last Name is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
                <input formControlName="email" matInput required />
                <mat-error *ngIf="registerForm.get('email').errors?.required">
                  Valid E-mail is required.
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" required />
                <mat-error type="password" *ngIf="registerForm.get('password').errors?.required">
                  Password is required.
                </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password Confirmation</mat-label>
                <input matInput type="password" formControlName="password_confirmation" required />
                <mat-error type="password" *ngIf="registerForm.get('password_confirmation').errors?.required">
                  Password must be same.
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
              <!-- Button trigger modal -->
              <mat-checkbox 
                type="checkbox"
                class="example-margin"
                formControlName="termsAndCondition"
                [(ngModel)]="checked" 
                required
                >
                I agree to 
                <a 
                  style="color: goldenrod;"
                  data-toggle="modal" 
                  data-target="#exampleModalLong" 
                  data-placement="top" 
                  title="Click to open terms & condition"
                  >
                  terms and conditions
                </a>  
              </mat-checkbox>
              <mat-error type="checkbox" *ngIf="registerForm.get('termsAndCondition').errors?.required">
                You must agree to the terms and conditions to register for an account.
              </mat-error>
          </div>
          <!-- Modal -->
          <div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="font-size: large; color: red;" id="modalLongTitle">Terms & Conditions</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body paragraph">
                  <tr style="font-size: medium; color: blue;">
                    <th>
                      Please read the following terms and conditions carefully as it sets out the terms of a legally binding agreement between you (the user) and https://bestcivilengineers.co.in.
                    </th>
                  </tr>
                  <tr>
                    <th>
                      1) Introduction
                    </th> 
                  </tr>
                  <tr>
                    <td>
                      <ul>
                        <li> 
                          It is totally an unofficial website (https://bestcivilengineers.co.in) at present only for West Bengal PWD Civil Engineers to know their departmental cadre details without losing their valuable official time. This following sets out the terms and conditions on which you may use the content on bestcivilengineers.co.in website owned by tMb (Try My Best). All the services herein will be given in free of cost.
                        </li> 
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      2) Registration Access and Use
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <ul>
                        <li>
                          We welcome users to register on this website. This website would be useful for the West Bengal PWD Civil Engineers. This website offers the below mentioned registration services which may be subject to change in the future. All changes will be appended in the terms and conditions page and communicated to existing users by email.
                        </li> 
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ul>
                        <li>
                          Registration services are offered to individual subscribers only. There is no option to access the same account by different individuals.
                        </li>
                        <li>
                          The nature and service of tMb services you access on the digital platforms will vary according to the type of registration you choose or allowed.
                        </li> 
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      3) Privacy Policy and Registration
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <ul>
                        <li> 
                          All information received by tMb from your registration on https://bestcivilengineers.co.in. will be used by tMb with Privacy Policy. Kindly read the below mentioned details.
                        </li>
                        <li>
                          On registration, we expect you to provide tMb with an accurate and complete information of the compulsory fields. tMb also expects you to keep the information secure, specifically any access to passwords. Kindly update the information periodically to keep your account relevant. tMb will rely on any information provided by you.
                        </li>
                        <li>   
                          Each registration is for a single user only. On registration, you will be required to choose your valid email Id as a unique user name and password (alpha numeric minimum 8 character including one special charecter and one capital letter). You are not allowed to share your user ID or give access to your account to anyone else. tMb does not allow multiple users on a network or within an organization to use the same user ID.
                        </li>
                        <li>   
                          On knowledge, tMb may cancel or suspend your access to tMb services if it comes to know that you are sharing your personal access without further obligation to you.
                        </li>
                        <li>   
                          You are responsible for all the use of on https://bestcivilengineers.co.in service made by you or anyone else using your ID and for preventing unauthorised use of your user ID. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your user ID or any other information, you must notify tMb immediately by e-mailing at support@bestcivilengineers.co.in. It is recommended that you do not select an obvious user password (such as your name, date of birth or easily rememberable) and that you change it regularly.
                        </li>
                        <li>   
                          If you provide tMb with an email address that will result in any messages tMb may send you being sent to you then you promise that you are entitled to receive those messages. To ensure email's land in your inbox, you will add the tMb receipt id to your safe list. You also agree that tMb may stop sending messages to you without notifying you.
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      4. Content Sources:    
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <ul>
                        <li>
                          All Content created and published on this website under the url https://www.bestcivilengineers.co.in are collected from openly published gradation lists or several other orders from time to time throughout the year from West Bengal PWD website or may be from any other reliable sources. If any discrepancy is found in this website then that would be treated as unintentional typo or programme bug(error) and tMb apologies you in advance for that type of mistake and also requests you to inform by e-mailing at support@bestcivilengineers.co.in for necessary correction.
                        </li>
                      </ul>     
                    </td>
                  </tr>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-success" (click)="aggreTermsAndCondition()" required data-dismiss="modal">I agree with the terms and conditions</button>
                  <span class="spacer"></span>
                  <button type="button" (click)="disAggreTermsAndCondition()" class="btn btn-sm btn-primary" data-dismiss="modal" >disagree</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <button class="btn btn-sm btnRed  btn-block" [disabled]="!registerForm.valid" (click)="onSubmit()">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>Register</button>
          </div>
          <div class="form-group col-6">
            <button class="btn btn-sm btnGreen  btn-block" [routerLink]="['../login']" >Already Registered</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>